@use '../../../styles/index.scss' as *;

.header {
	display: flex;
	justify-content: space-between;
	padding: 0 calc(50% - 600px);
	position: absolute;
	background-color: transparent;
	color: $dark;
	align-items: center;
	font-weight: bold;
	z-index: 1;
	width: 100%;
	@media (max-width: 1300px) {
        padding: 0 calc(50% - 450px);
    }
	@media (max-width: 1024px) {
        padding: 0 20px;
    }

	&::after {
		content: '';
		background-color: $dark;
		width: 100%;
		max-width: 1200px;
		height: 1px;
		position: absolute;
		bottom: 0;
		@media (max-width: 1300px) {
			max-width: 900px;
		}
		@media (max-width: 1024px) {
			max-width: calc(100% - 40px);
		}
		
	}
}

.home {
	padding: 30px;
	text-decoration: none;
}

.logo {
	font-size: 25px;
	color: $dark;
	font-weight: 900;
}

.links {
	@media (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
        top: -200px;
        background-color: $bgc;
        transition: all .3s;
	}
}

.link {
	text-decoration: none;
	color: $dark;
	padding: 30px;
	transition: all 0.5s;
	&:hover {
		color: black;
		background-color: rgb(169, 203, 198);
	}
}

.mobile {
	display: none;
	border: none;
	padding: 30px;
	background-color: $bgc;
    color: $dark;
    &:hover {
		color: black;
		background-color: rgb(169, 203, 198);
	}
    
	@media (max-width: 1024px) {
		display: flex;
	}
}

.active {
    top: 90px;
}
