.header {
	display: flex;
	justify-content: space-between;
	padding: 0 calc(50% - 600px);
	position: relative;
	background-color: rgb(184, 207, 203);
	color: rgb(31, 29, 39);
	align-items: center;
	font-weight: bold;

	&::after {
		content: '';
		background-color: rgb(210, 210, 210);
		width: 100%;
		max-width: 1200px;
		height: 1px;
		position: absolute;
		bottom: 0;
	}
}

.home {
	padding: 30px;
	text-decoration: none;
}

.logo {
	font-size: 25px;
	color: rgb(31, 29, 39);
	font-weight: 900;
}

.links {
	@media (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
        top: -200px;
        background-color: rgb(184, 207, 203);
        transition: all .3s;
	}
}

.link {
	text-decoration: none;
	color: rgb(31, 29, 39);
	padding: 30px;
	transition: all 0.5s;
	&:hover {
		color: black;
		background-color: rgb(169, 203, 198);
	}
}

.mobile {
	display: none;
	border: none;
	padding: 30px;
	background-color: rgb(184, 207, 203);
    color: rgb(31, 29, 39);
    &:hover {
		color: black;
		background-color: rgb(169, 203, 198);
	}
    
	@media (max-width: 1024px) {
		display: flex;
	}
}

.active {
    top: 90px;
}
