@use '../../../styles/index.scss' as *;

.section {
	background-color: #ddd;

	padding: 200px calc(50% - 500px) 100px;
	@media (max-width: 1300px) {
		padding: 200px calc(50% - 400px) 100px;
	}
	@media (max-width: 1024px) {
		padding: 200px 20px 100px;
	}
}

.title {
	font-size: 64px;
	margin-bottom: 20px;
	@media (max-width: 1024px) {
		font-size: 50px;
	}
}

.search {
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 5px 63px -21px rgb(106, 106, 106);
}

.searchbar {
	border: none;
	width: 90%;
	padding: 10px;
	&::placeholder {
		font-weight: bold;
	}
	&:focus {
		outline: none;
	}
}

