@use '../../../styles' as *;

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 120px calc(50% - 500px);
	@media (max-width: 1300px) {
		padding: 120px calc(50% - 400px);
	}
	@media (max-width: 1024px) {
		padding: 120px 20px;
	}
}

.switch {
    position: absolute;
    width: 600px;
    top: 485px;
    background-color: #fff;
    box-shadow: 0px 5px 63px -21px rgb(106, 106, 106);
    padding: 7px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    justify-content: stretch;
    @media (max-width: 1300px) {
		top: 580px;
	}
	@media (max-width: 1024px) {
		top: 470px;
        width: 400px;
	}
    @media (max-width: 600px) {
		top: 475px;
        width: 350px;
	}
    @media (max-width: 450px) {
		top: 445px;
	}
	
   
}

.btn {
    border: none;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: $dark;
    z-index: 1;
    flex: 1;
    @media (max-width: 1300px) {
        
        
		font-size: 16px;
	}
    @media (max-width: 600px) {
        
      
	}
    
}

.address {
	width: 100%;
	display: flex;
	justify-content: space-evenly;

	gap: 20px;
	@media (max-width: 1024px) {
		flex-direction: column;

		align-items: center;
	}
}




.grey {
    background-color: #ddd;
    position: absolute;
    left: 7px;
    top: 7px;
    width: calc(50% - 12px);
    height: calc(100% - 14px);
    border-radius: 10px;
    z-index: 0;
    transition: left .3s ease-out;
    
    &.active {
        left: calc(50% + 5px);
     
    }
}
