@use '../../../styles' as *;

.user {
	border: 1px solid #ddd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 10px;
	border-radius: 10px;
	text-decoration: none;
}

.photo {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 10px;
}

.name {
	font-size: 20px;
	font-weight: bold;
	color: $grey;
}
.nickname {
	color: $grey;
}
